<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/animations.css" | relative_url }}">
    <script src="https://kit.fontawesome.com/0f132dab57.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include header.html %}
     
    {{ content }}

    {% include footer.html %}

    {% include js-links.html %}
  </body>
</html>
